/*@import '../../node_modules/slick-carousel/slick/slick.scss';
@import '../../node_modules/slick-carousel/slick/slick-theme.scss';
@import '_slickfix.scss';*/

//@import '../../slick-1.8.1/slick/slick.scss';
//@import '../../slick-1.8.1/slick/slick-theme.scss';

$white:   #ffffff;
$white-bg:#f5f5f5;
$white-40:rgba(255, 255, 255, 0.4);
$black-60: rgba(0, 0, 0, 0.6);
$black-90: rgba(0, 0, 0, 0.9);
$red-pink:#ee3a49;
$nasty-green:#6ebc40;

body{
    margin:0;
    font-size: 12px;
    
}

@font-face{
    font-family: OpenSans-Regular;
    font-display: swap;
    font-weight: normal;
    src: local("OpenSans-Regular"),
         url('../../fonts/Open_Sans/OpenSans-Regular.ttf') format("ttf"),
        url('../../fonts/Open-Sans/OpenSans-Regular.woff') format("woff");
      //   url('../../fonts/Open-Sans/OpenSans-Regular.ttf') format("ttf");

}
@font-face{
    font-family: OpenSans-SemiBold;
    font-display: swap;
    font-weight: normal;
    src: local("OpenSans-SemiBold"),
         url('../../fonts/Open_Sans/OpenSans-SemiBold.ttf') format("ttf"),
}

@font-face{
    font-family: OpenSans-Bold;
    font-display: swap;
    font-weight: normal;
    src: local("OpenSans-Bold"),
         url('../../fonts/Open_Sans/OpenSans-Bold.woff2') format("woff2"),
         url('../../fonts/Open_Sans/OpenSans-Bold.woff') format("woff");
         //url('../../fonts/Open_Sans/OpenSans-Bold.woff') format("woff2"),
         //url('../../fonts/Open_Sans/OpenSans-Bold.ttf') format("woff2");
         
         

        

}

@import 'header_320';
@import  'main_320';
@import 'footer_320';


.hide{

    display :none;
}